@use "@styles/variables" as *;
@use "@styles/utils" as *;

$episode-page-right-margin-left: 100px;

.episode-page {
  width: 100%;
  padding: $gutter;

  &__right {
    margin-top: $separator-l;
  }

  &__right-header {
    @extend .card;

    padding: $separator-l;
  }

  &__right-content {
    @extend .card;

    padding: $separator-l;
    margin-top: $separator-l;
  }

  &__right-content-description {
    margin-top: $separator-l;
    padding-bottom: $separator-l;
    border-bottom: 1px solid $color-gray-01;
  }

  &__right-content-audio-container {
    width: 100%;
    margin-top: $separator-l;

    audio {
      width: 100%;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .episode-page {
    display: flex;

    &__left {
      width: 30%;
    }
    &__right {
      width: 70%;
      margin-top: 0;
      margin-left: $episode-page-right-margin-left;
    }
    &__right-content {
      margin-top: 0;
    }
  }
}
