@use "@styles/variables" as *;
@use "@styles/utils" as *;
@use "@styles/animations" as *;

$podcast-card-image-size: 120px;
$podcast-card-height: 180px;

.podcast-card {
  @extend .pop-up;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: $podcast-card-height;
  padding: $podcast-card-image-size/2 $separator-l $separator-l $separator-l;
  border-radius: $border-radius-01;
  background: $color-background;
  box-shadow: $inner-shadow;

  &:hover {
    cursor: pointer;
    box-shadow: $outer-shadow;
  }

  &__image {
    position: absolute;
    top: -($podcast-card-image-size / 2);
    left: 50%;
    transform: translateX(-50%);
    width: $podcast-card-image-size;
    height: $podcast-card-image-size;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: $inner-shadow;
  }

  &__content {
    text-align: center;
    margin-top: $separator-l;
  }

  &__title {
    @extend .ellipsis;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__author {
    text-align: center;
    color: $color-text-secondary;
    font-size: 0.8rem;
  }
}
