@use "@styles/variables" as *;

.ellipsis {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  border-radius: $border-radius-01;
  background: $color-background;
  box-shadow: $inner-shadow;
}
