@use "@styles/variables" as *;
@use "@styles/utils" as *;

$episodes-table-row-height: 42px;

.episodes-table {
  table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }

  th {
    text-align: left;
    padding-left: $separator-s;
  }

  td {
    padding-left: $separator-s;
  }

  tr {
    height: $episodes-table-row-height;
    border-bottom: 1px solid $color-gray-01;
  }

  tbody tr:nth-child(even) {
    background-color: $color-gray-02;
  }

  &__link {
    color: $color-primary;
  }
}
