@use "@styles/variables" as *;

$home-page-podcasts-margin: 128px;

.home-page {
  &__podcasts {
    padding: $gutter;
    margin-top: calc($home-page-podcasts-margin/2);
    margin-bottom: calc($home-page-podcasts-margin);
  }
  &__header {
    padding: $gutter;
  }
  &__empty {
    text-align: center;
    font-size: $font-size-02;
    color: $color-text-secondary;
  }
}

@media (min-width: $breakpoint-md) {
  .home-page {
    &__podcasts {
      padding: 0;
      margin-top: $home-page-podcasts-margin;
    }
  }
}
