@use "@styles/variables" as *;

$home-page-podcasts-margin: 128px;

.home-page {
  &__podcasts {
    padding: $gutter;
    margin-top: $home-page-podcasts-margin/2;
    margin-bottom: $home-page-podcasts-margin;
  }
  &__header {
    padding: $gutter;
  }
}

@media (min-width: $breakpoint-md) {
  .home-page {
    &__podcasts {
      padding: 0;
      margin-top: $home-page-podcasts-margin;
    }
  }
}
